<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <% @message.recipients.each do  |recipient| %>
    <% if recipient.firstname != nil %>
      <%= recipient.firstname + ' ' + recipient.lastname %>
    <% else %>
      <%= recipient.email %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>From:</strong>
  <% if @message.user.firstname != nil %>
    <%= @message.user.firstname + ' ' + @message.user.lastname%>
  <% else %>
      <%= @message.user.email %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.created_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>