<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Welcome back! <%= current_user.firstname + ' ' + current_user.lastname %>.
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>
<br><br>
<%= link_to 'New Message', new_message_path %>

<h1>Inbox</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Title</th>
      <th>Content</th>
      <th>Photo</th>
      <th>Send date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @received_messages.each do |received_message| %>
      <tr>
        <td><%= received_message.user.firstname + ' ' + received_message.user.lastname %></td>
        <td><%= received_message.title %></td>
        <td><%= received_message.content %></td>
        <td><%= received_message.photo %></td>
        <td><%= received_message.send_date %></td>
        <td><%= link_to 'Show', received_message %></td>
        <td><%= link_to 'Edit', edit_message_path(received_message) %></td>
        <td><%= link_to 'Destroy', received_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Sent Messages</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th>Title</th>
      <th>Content</th>
      <th>Photo</th>
      <th>Send date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_messages.each do |sent_message| %>
      <tr>
        <td>
          <% sent_message.recipients.each do  |recipient| %>
            <%= recipient.firstname + ' ' + recipient.lastname %>
          <% end %>
        </td>
        <td><%= sent_message.title %></td>
        <td><%= sent_message.content %></td>
        <td><%= sent_message.photo %></td>
        <td><%= sent_message.send_date %></td>
        <td><%= link_to 'Show', sent_message %></td>
        <td><%= link_to 'Edit', edit_message_path(sent_message) %></td>
        <td><%= link_to 'Destroy', sent_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>