<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Welcome back! <%= current_user.firstname + ' ' + current_user.lastname %>.
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>

<div ng-controller="MessageBoxCtrl">


  <h1>New message</h1>

  <form accept-charset="UTF-8" action="/messages" class="new_message" id="new_message" method="post">
    <div class="field">
      <label for="message_recipient">To</label><br>
      <input id="message_recipient" name="message[title]" type="text" ng-model="recipient"/>
    </div>
    <div class="field">
      <label for="message_title">Title</label><br>
      <input id="message_title" name="message[title]" type="text" ng-model="title"/>
    </div>
    <div class="field">
      <label for="message_content">Content</label><br>
      <textarea id="message_content" name="message[content]" ng-model="content"/></textarea>
    </div>
    <div class="btn btn-success" ng-click="composeMessage()">Submit</div>
    <!-- <div class="actions">
      <input name="commit" type="submit" value="Create Message" />
    </div> -->
  </form>

  To: <span ng-bind="recipient"></span><br>
  Title: <span ng-bind="title"></span><br>
  Content: <span ng-bind="content"></span><br>

  <h1>Inbox</h1>

  <div>
    <div class="row header">
      <div class="col-md-2"> FROM </div>
      <div class="col-md-2"> TITLE </div>
      <div class="col-md-2"> CONTENT </div>
      <div class="col-md-2"> DATE </div>
    </div>

    <div class="row" ng-repeat="message in received_messages">
      <div class="col-md-2"> {{ message.sender_firstname + " " + message.sender_lastname }}</div>
      <div class="col-md-2"> {{ message.title }} </div>
      <div class="col-md-2"> {{ message.content }} </div>
      <div class="col-md-2"> {{ message.created_at }} </div>
    </div>

  </div>

  <h1>Sent Message</h1>

  <div>
    <div class="row header">
      <div class="col-md-2"> TO </div>
      <div class="col-md-2"> TITLE </div>
      <div class="col-md-2"> CONTENT </div>
      <div class="col-md-2"> DATE </div>
    </div>

    <div class="row" ng-repeat="message in sent_messages">
      <div class="col-md-2"><span ng-repeat="recipient in message.recipients"> {{ recipient.firstname + " " + recipient.lastname }} </span></div>
      <div class="col-md-2"> {{ message.title }} </div>
      <div class="col-md-2"> {{ message.content }} </div>
      <div class="col-md-2"> {{ message.created_at }} </div>
    </div>

  </div>

</div>