<p id="notice"><%= notice %></p>

<div class="col-md-10 col-md-offset-1" ng-controller="MessageBoxCtrl">


          <!-- Modal 2 UNFINISHED CODE-->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">View Message</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

  <p>
  <% if user_signed_in? %>
    Welcome back! <%= current_user.firstname + " " + current_user.lastname %>.
    <%= link_to 'Edit profile', edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <br>
    You currently have <%= current_user.gem %> gem.
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path  %>
  <% end %>
  </p>

  <!-- <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div> -->

  <div class="col-md-3">
      <input type="text" placeholder="Start typing to filter.." class="form-control" ng-model="searchText" />
    </div>
    <div class="col-md-1  col-md-offset-6">

      <!-- Button trigger New Message modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        New Death Note
      </button>
      <!-- New Message Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">New message</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="message_recipient">To</label><br>
                  <input class="form-control" id="message_recipient" type="text" placeholder="Enter email" ng-model="recipient_email_list"/>
                </div>
                <div class="form-group">
                  <label for="message_title">Title</label><br>
                  <input class="form-control" id="message_title" type="text" placeholder="Enter title" ng-model="title"/>
                </div>
                <div class="form-group">
                  <label for="message_content">Content</label><br>
                  <textarea class="form-control" id="message_content" placeholder="Enter content" rows="3" ng-model="content"/></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="composeMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  <div class="col-md-11">
    <h1>Death Notes Inbox</h1>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>From</th>
          <th>Title</th>
          <th>Content</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
          <tr data-toggle="modal" data-target="#myModal2" ng-repeat="message in received_messages | filter: searchText">
            <td> {{ getName(message) }} </td>
            <td> {{ message.title }} </td>
            <td> {{ message.content }} </td>
            <td> {{ message.created_at }} </td>

          </tr>

      </tbody>
    </table>
  </div>

  <div class="col-md-11">
    <h1>Death Notes Sent</h1>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>To</th>
          <th>Title</th>
          <th>Content</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
          <tr data-toggle="modal" data-target="#myModal2" ng-repeat="message in sent_messages | filter: searchText">
            <td><span ng-repeat="recipient in message.recipients | filter: searchText"> {{ getName(recipient) }} </span> </td>
            <td> {{ message.title }} </td>
            <td> {{ message.content }} </td>
            <td> {{ message.created_at }} </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>