<!DOCTYPE html>
<html>
<head>
  <title>Death Notes</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <!-- <script type="text/javascript" src="/bower_components/angular-ui-select/dist/select.css"></script> -->
  <%= csrf_meta_tags %>
</head>
<!-- <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '834161159969089',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script> -->
<body ng-app="deathNotes">

  <%= yield %>

  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>
  <!-- <script type="text/javascript" src="/bower_components/angular-ui-select/dist/select.js"></script> -->
</body>
</html>
