<!DOCTYPE html>
<html>
<head>
  <title>Death Notes</title>
  <!-- Select2 theme -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="deathNotes" ng-controller="MessageBoxCtrl">

  <!-- <div ng-include="'message.html'"></div> -->

  <!-- <div ng-include='"header.html"'></div> -->
  <!-- Nav Bar -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header col-md-2">
      <a class="navbar-brand" href="/">Death Notes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nopadding" data-toggle="dropdown">{{ current_user_firstname }}</a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            </ul>
          </li>
          <li><a class="" href="#"> {{ current_user_credit }} credit</a></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path  %></li>
          <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
      </ul>
      <form class="navbar-form">
        <input type="text" placeholder="Start typing to filter.." class="form-control" ng-model="searchText" />
      </form>
    </div>
  </div>
</nav> <!-- Nav Bar End -->

<div class="container-fluid">
  <div class="row">

    <div ng-include="'topbar.html'"></div>

    <div ng-include="'sidebar.html'"></div>

    <!-- Main Window -->
    <div class="col-md-10 main">

      <%= yield %>

    </div> <!-- Main Window End -->
  </div>
</div>

<!-- New Message Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="test">To</label><br>
            <input class="form-control" id="test" type="hidden" placeholder="Enter email" ui-select2="select2Options" ng-model="recipient_email_list">
          </div>
          <div class="form-group">
            <label for="message_title">Title</label><br>
            <input class="form-control" id="message_title" type="text" placeholder="Enter title" ng-model="title"/>
          </div>
          <div class="form-group">
            <label for="message_content">Content</label><br>
            <textarea class="form-control" id="message_content" placeholder="Enter content" rows="3" ng-model="content"/></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="composeMessage()">Send</button>
      </div>
    </div>
  </div>
</div> <!-- New Message Modal End -->

  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>
</body>
</html>
